@charset "utf-8";

/* ACCESSIBILITY skip-link */

/*style for skip to main Content*/
.skip-link {
  position: absolute;
 /* top: -100px;
      left: 0;
  z-index: 1001;*/
    top:-100px;
    color:white;
    padding: 50px;
   /* padding-left: 10px;*/
    left:0;
    z-index: 1001;
}

.skip-link:focus {
  top: 0;
}

/*Focus*/
*:focus {
  outline: 0;
  box-shadow: 0 0 10px 8px rgba(139,0,139);
}

/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
/*	color: orange;*/
    color:#ff9292
	text-decoration: none;
}
a:hover, a:focus {
	/*color: #3397db;*/
    color:#8B008B; 
	text-decoration: none;
}
/*nav h1 a:hover {
  color: #ff9292;
}*/
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  width:100vw;
  min-height: 100%;  
}
#footer {
  background-color: #444;
  color: #aaa;
  /*color: #ccc;*/
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  display: flex; 
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  align-items: center;/**/
  line-height: 1.3;
}
/*nav h1 {
  margin: auto;
  display: inline-block;*/
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  padding-top: 20%;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px); 
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}
/*slash symbol i added (/) before/behind each list item*/
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
/*add color to each links inside list*/
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/*color to mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  display: flex;
  flex-direction: row;
  width: 100%; 
  height: 50px;
  background-color: #3397DB;
  align-items: center;
  /*padding:10px;*/
  justify-content: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0px 20px;
}
.filter-options h2:focus {
  outline: 0;
  color: #ffa500;
  text-decoration: underline;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

.filter-options label {
  color:white;
  width: 5px;
  height: 5px;
  /*overflow: hidden;*/
  position: absolute;
  left: -9999px;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex /**/;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px ;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  /*font-size: 14px;*/
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270%;
  /*display: flex;
  flex-direction: column;*/
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  /*padding: 6px;
  max-width: 100%;
  min-height: 248px;*/
  min-width: 100%;
}
/*#restaurants-list .restaurant-info {
  margin: 0 22px;
  height: 156px;
}*/
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  position: absolute;
  bottom: 0;
  width: 45%;
}
#restaurant-name {
  font-family: Arial,sans-serif;
  font-weight: 200;
  font-size: 20pt;
  color: #f18200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  border-radius: 5px;
  height: 30px;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
 /* max-width: 100%;
  border: 1px solid #999;
  padding: 5px;*/
}
#restaurant-address {
  font-size: 12pt;
  /*font-weight: bold;
  padding-bottom: 16px;*/
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 2px 0;
  width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 20px 30px ;
  width: 45%;
}
#reviews-container {
    display: flex;
    flex-direction: column;
 /* padding-bottom:0;
    width: 62%;*/
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  /*display: block;*/
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
  display: flex;
  border-radius: 20px 0px 20px 0px;
  flex-direction: row;
  flex-wrap: wrap;
}
/*#reviews-list li p {
  margin: 0 0 10px;
}*/
#reviews-list li>p:nth-child(1) {
  width: 50%;
  align-self: center;
  color: orange;
}

#reviews-list li>p:nth-child(2) {
  align-self: center;
  width: 50%;
  text-align: right;
  color: #ccc
}

#reviews-list li>p:nth-child(3) {
  width: 100%;
  color: #f18200;
}
#restaurant-hours td {
  color: #666;
}
/* ====================== Responsive Query ====================== */

@media only screen and (max-width: 600px) {
  .inside {
    display: flex;
    flex-direction: row;
    width: 100vw
  } 
  header {
    display: flex;
    flex-direction: column;
  }
 .inside header {
    order: 0;
    width: 100vw;
  }
  header nav {
    order: 0;
  }
  header #breadcrumb {
    order: 1;
    width: 100vw;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  .inside #restaurant-container {
    order: 3;
    text-align: center;
    position: relative;
    padding: 140px 5px 0 0;
    margin: auto;
    width: 100vw;
  }
  .inside #map-container {
    order: 2;
    height: 300px;
    width: 100vw;
    top: 130px;
    position: relative; 
  }
  #reviews-list {
    width: 100vw;
  }
  #reviews-container h2 {
    text-align: center;
  }
  .inside #reviews-container {
    width: 100vw;
    padding: 5px;
    margin: auto;
    }
  .inside #footer {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    order: 4;
    width: 100vw;
  }

}